@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	background: #D6C3C3;
}
h1{
	font-size: 20px;
}
p{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 15px;
}
#wrapped{
	width: 1200px;
/*	height: 3000px;*/
	background: #FFFFFF;
	margin: 0 auto;
	padding: 20px;
}
.header{
	width: 100%;
	height: 60px;
/*	background: #E6AA75;*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo{
	width: 10%;
	height: 60px;
/*	background: blue;*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo a{
	font-size: 26px;
	color: black;
	font-weight: bold;
}
.nav{
	width: 95%;
	height: 60px;
	background: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.nav ul li{
	display: inline-block;
	margin: 0 20px;
	line-height: 50px;
}
.nav ul li a{
	color: black;
	font-weight: bold;
}
.nav ul li a:hover{
	color: #2E91D5;
}
.introduction{
	width: 100%;
	height: 300px;
	background: url("../img/170915_002.jpg");
	background-size: cover;
	padding-left: 100px;
	display: flex;
	justify-content: center;
/*	align-items: center;*/
	flex-direction: column;
}
.offer{
	width: 100%;
	height: 600px;
/*	background: #86C2DA;*/
	margin-top: 20px;
	padding-top: 60px;
	text-align: center;
}
.outer{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.box{
	width: 200px;
	height: 500px;
/*	background: white;*/
	margin: 20px;
}
.img{
	width: 200px;
	height: 300px;
	background: white;
}
.line{
	width: 150px;
	height: 2px;
	background: #000000;
	margin: 100px auto;
}
.services{
	width: 100%;
	padding: 50px;
	background: url("../img/Photo by Augustine Wong on Unsplash.png");
	margin-top: 20px;
	text-align: right;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-services{
	width: 400px;
	height: 400px;
	background: white;
}
.about{
	width: 100%;
	padding: 20px;
	background: url("../img/Photo by Augustine Wong on Unsplash.png");
	margin-top: 20px;
	text-align: left;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-about{
	width: 150px;
	height: 150px;
	background: white;
}
.content{
	width: 600px;
/*	background: red;*/
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.contacts {
	width: 100%;
	padding: 20px;
	background: url("../img/Photo by Augustine Wong on Unsplash.png");
	margin-top: 10px;
}
.contacts .contacts-box{
	background: white;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
}
.footer{
	width: 100%;
	height: 70px;
	padding: 20px;
	background: #DD8F91;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-box{
/*	background: white;*/
	width: 600px;
	height: 50px;
	padding: 8px;
	text-align: center;
	line-height:25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-box ul li{
	display: inline-block;
	margin: 0 20px;
}
.footer-box ul li a{
	color: black;
	font-weight: bold;
}
.footer-box ul li a:hover{
	color: #2E91D5;
}